apiVersion: v1
kind: Service
metadata:
  name: test-restservice
spec:
  selector:
    app: restservice
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
      nodePort: 30000
  type: NodePort
  